.navbar{
    background-color: rgb(27, 27, 27);
    border: 3px solid black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.navlinks{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    cursor: pointer;
}
.main1{
    background-color: rgb(27, 27, 27);;
    color: white;
    border: 3px solid black;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.biopic{
  
}
