.navbar{
    background-color: rgb(27, 27, 27);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.navlinks{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    cursor: pointer;
}
.main1{
    background-color: rgb(27, 27, 27);
    color: white;
    border: 2px solid rgb(0, 102, 85);
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.pic{
  border-radius: 50px;
  box-shadow: 0 4px 50px black;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(27, 27, 27);
    color: white;
    padding: 50px;
}
.projects{
    background-color: rgb(27, 27, 27);
    padding: 5px;
    color: white;
    text-align: center;
}
.foot{
    background-color: rgb(27, 27, 27);
    color: white;
    padding: 5px;
    border: 2px solid rgb(0, 102, 85);
}
.footlinks{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-around;
    cursor: pointer;
}
